.action {
    font-style: italic;
    font-weight: bold;
}

.Peter {
    color: red;
    font-weight: bold;
}

.Dana {
    color: purple;
    font-weight: bold;
}

.Egon {
    color: brown;
    font-weight: bold;
}

.Ray {
    color: blue;
    font-weight: bold;
}

.Mayor {
    color: orange;
    font-weight: bold;
}

.Winston {
    color: green;
    font-weight: bold;
}