html {
    font-family: 'Ubuntu', sans-serif;
    background-image: linear-gradient( rgba(255, 111, 95, 0.5), rgb(255, 183, 183, 0.5), rgb(255, 242, 242, 0.5));
    background-image: fill 100%;
    margin: 3em;
    font-size: 24px;
    margin-bottom: 3em;
    margin-top: 0em;
}

header {
    text-align: center;
    color: rgb(0, 65, 0);
}

.sub {
    vertical-align: sub;
    font-size: smaller;
    line-height: 10px;
    color: rgb(0, 65, 0);
}

.one {
    letter-spacing: 0.3em;
}

.two {
    letter-spacing: -.06em;
}

h3 {
    line-height: 200%;
    color: rgb(0, 65, 0);
}

.three {
    text-decoration: underline;
}

.four {
    text-decoration: line-through;
}

.five {
    text-decoration: overline;
}

.six {
    text-transform: uppercase;
}

.seven {
    text-transform: lowercase;
}

.eight {
    text-transform: capitalize;
}

.drop {
    line-height: 150%;
}